<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Atata.Bootstrap.TestApp v5</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    @RenderSection("styles", false)
</head>
<body>
    <div class="container">
        <h1 class="text-center">@ViewBag.Title</h1>
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
